@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size:62.5%;
}
body {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;

    background-color: #2D3548;
}
header {
    width: 100%;
    position: fixed;
    padding: 2rem 4rem; 
    top: 0;
    left: 0;
    background-color:rgba(19, 22, 31, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header #search {
    width: 25rem;
    padding:1rem 0.7rem;
    outline: none;
    border: none;
    background-color:#2D3548;
    color: #fff;
    
}
header #submit {
    padding: 1rem 3rem;
    color: #fff;
    background-color: rgb(61, 73, 97);
    cursor: pointer;
    outline: none;
    border: none;
}
header #search::placeholder {
    color: #fff;
}
header #select {
    padding: 0.9rem;
    border:none;
    outline: none;
    color: #fff;
    background-color: #0984e3;
    margin-right: 2rem;
    cursor: pointer;
}
#home-btn {
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease;
}
#home-btn:hover {
    color: rgb(233, 233, 233);
}
.container {
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
    max-width: 134rem;
    
}
.films-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.item {
    width: 200px;
    margin: 1rem 4rem;
    min-height: 400px;
    padding: 2rem;
    box-sizing: content-box;
    background-color: rgba(15, 17, 24,0.2);
    border-radius: 2px;
}
.item .image-box {
    width: 100%;
  
}
.image-box img {
    width: 100%;
    border: 10px solid rgba(147, 165, 198,0.3);
}
.item .film-title {
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.7rem;
}
.item .film-year {
    color: #fff;
    font-size: 1.2rem;
}
.button-flex {
    margin-top: 0.7rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#imdb-btn,
#detail-btn {
    padding:1rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.4s ease;
}
#imdb-btn {
    background-color: #E8B708;
}
#imdb-btn:hover {
    background-color: rgb(219, 173, 7);
}
#detail-btn {
    background-color: #718492;
    color: #fff;
}
#detail-btn:hover {
    background-color: #5f707c;
  

}
.details-container {
    display: flex;
    width: 90rem;
    padding: 2rem;
    margin: 0 auto;
    justify-content:center;
    
}
.details-image {
    margin-right: 5rem;
}
.details-image img {
    height: 100%;
    border: 10px solid rgba(147, 165, 198,0.3);
}

.details-description-title {
    color: #fff;
    margin-bottom: 1rem;
}

.details-description-body {
    padding: 1rem;
    background-color: rgba(15, 17, 24,0.2);
    border-radius: 4px;
    color: #fff;

}

.details-description-body p span {
    font-weight: bold;
    color: #c4c4c4;
}
.details-description-body p {
    margin-bottom: 1rem;
    line-height: 2.2rem;
} 

.goback-btn {
    padding: 1rem 3rem;
    text-decoration: none;
    background-color: #718492;
    color: #fff;
    transition: all 0.3s ease;
    display: inline-block;
    margin-top: 1rem;
}
.goback-btn:hover{
    background-color: #5f707c;
}

@media only screen and (max-width: 1000px) {
    .details-container {
        flex-direction: column;
        width: 80%;
        
    }
    }
@media only screen and (max-width: 650px) {
  #search {
      width: 15rem !important;
  }
  header {
      flex-direction: column;
 
    
  }
  header div {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  #select {
      margin-bottom: 1rem;
  }
  header a {
      margin-bottom: 1rem;
  }
  .films-container {
      margin-top: 15rem;
  }
  }